<form action="/index" method="post">
  <div class="form-group">
    <input type="submit" id="rock" value ="rock" name="player_choice">
  </div>

  <div class="form-group">
    <input type="submit" id="paper" value ="paper" name="player_choice">
  </div>

  <div class="form-group">
    <input type="submit" id="scissors" value ="scissors" name="player_choice">
  </div>
</form>
